<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserves</title>

    <!--jQuery, JSRender, jQuery-SerializeObject-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.13/jsrender.min.js"
            integrity="sha512-T93uOawQ+FrEdyCPaWrQtppurbLm8SISu2QnHyddM0fGXKX9Amyirwibe1wGYbsW2F8lLzhOM/2+d3Zo94ljRQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"
            integrity="sha512-Gn0tSSjkIGAkaZQWjx3Ctl/0dVJuTmjW/f9QyB302kFjU4uTNP4HtA32U2qXs/TRlEsK5CoEqMEMs7LnzLOBsA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Navigo y dataTables-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/navigo/8.11.1/navigo.min.js"
            referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <!-- estilos -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/carrosel_style.css">
</head>

<body>
<header>
    <div class="logo">
        <a href="/"><img src="./images/logo_ajuntament.png" alt="Logo de la empresa"></a>
    </div>
    <div class="menu">
        <ul>
            <li class="botton"><a href="/">Inicio</a></li>
            <li class="botton"><a href="/Pag_esdeveniments.html">Esdeveniments</a></li>
            <li class="botton"><a href="/Pag_recintes.html">Recintes</a></li>
            <li class="botton selected"><a href="/Pag_opinions.html">Opinions</a></li>
            <li><a href="/Pag_reserves.html" class="reserva">Reservas</a></li>
            <li class="botton"><a href="/Pag_usuaris.html" id="usuarisPageLink" style="display: block">Usuaris</a></li>
            <li class="botton"><a href="#" id="logoutLink" style="display: none;">Cerrar sesión</a></li>
            <li class="botton"><a href="/Pag_login.html" id="loginLink" style="display: none;">Iniciar sesió</a></li>
        </ul>
    </div>
</header>

<!-- ///////////////////////////////  -->

<script id="opinions_template" type="text/x-handlebars-template">
    <div class="reserves_script">
    <div class="reserva_difuminado">
        <br>
        <br>
        <button><a href="#/add" class="btn btn-lg btn-outline-secondary">Nueva Opinion</a></button>
        <br><br>
    <table id="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuari</th>
            <th>Esdeveniment</th>
            <th>Opinio</th>
            <th>Puntuacio</th>
            <th>Acciones</th>
        </tr>
        </thead>
    <tbody>
    {{for opinions}}
    <tr>
        <td>{{:ID}}</td>
        <td>{{:Usuari}}</td>
        <td>{{:Esdeveniment}}</td>
        <td onmouseover="this.textContent = '{{:TextOpinio}}';"
            onmouseout="this.textContent = '{{:TextOpinio.split(' ').slice(0, 3).join(' ')}}';">{{:TextOpinio.split
                (' ').slice(0, 3).join(' ')}}</td>
        <td>{{:Puntuacio}}</td>
    <td>
    {{if isOwn}}
        <button>
            <a href="#/modify?id={{:ID}}">Modificar</a>
        </button>
        <button>
            <a href="#/delete?id={{:ID}}">Eliminar</a>
        </button>
    {{/if}}
    </td>
    </tr>
    {{/for}}
    </tbody>
    </table>
        <br><br>
    </div>
    </div>
</script>


<script id="modify_opinion_template" type="text/x-handlebars-template">
    <br><br>
    <div class="reserves_script">
    <div class="reserva_difuminado">
        <h2>Estas modificando la reserva :  {{:opinion.ID}}</h2>
    <form id="modify_opinions_form">

    <div>
        <label for="EsdevenimentSelect">Esdeveniment</label><br>
    <select class="form-control" id="EsdevenimentSelect" name="Esdeveniment">
    {{for esdeveniments.esdeveniments ~opinion = opinion}}
            <option value="{{:Nom}}"
    {{if ~opinion.Esdeveniment === Nom}}
                    selected{{/if}}>{{:Nom}}
    </option>
    {{/for}}
    </select>
    </div>
        <br>
        <div>
            <label for="TextOpinio">Data reserva</label><br>
            <input type="text" class="form-control" id="TextOpinio" name="TextOpinio"
                   value="{{:opinion.TextOpinio}}">
        </div>
        <br>
        <div>
            <label for="Puntuacio">Entrades reservades</label><br>
            <input type="number" class="form-control" id="Puntuacio" name="Puntuacio"
                   value="{{:opinion.Puntuacio}}">
        </div>
        <br>
        <button type="submit" id="submit_modify_opinion_form" data-id="{{:opinion.ID}}">Modificar
        </button>
    </form>
        <br><br>
    </div>
    </div>
</script>

<script id="add_opinion_template" type="text/x-handlebars-template">
    <br><br>
    <div class="reserves_script">
    <div class="reserva_difuminado">
        <h2>Insertar nuevo Opinion</h2>
    <form id="add_opinion_form">
    <div>
        <label for="EsdevenimentSelect">Esdeveniment</label><br>
    <select class="form-control" id="EsdevenimentSelect" name="Esdeveniment">
    {{for esdeveniments}}
        <option value="{{:Nom}}">{{:Nom}}</option>
    {{/for}}
    </select>
    </div><br>
        <div>
            <label for="TextOpinio">Opinion</label><br>
            <input type="text" class="form-control" id="TextOpinio" name="TextOpinio">
        </div>
        <br>
        <div>
            <label for="Puntuacio">Puntuacio</label><br>
            <input type="number" class="form-control" id="Puntuacio" name="Puntuacio" min="1" max="5">
        </div>

        <br>
        <button type="submit" id="submit_opinion_form">Agregar</button>
    </form>
        <br><br>
    </div>
    </div>
</script>

<div id="app"></div>

<script>

    const router = new Navigo('/', {hash: true});

    router
        .on('/', showReserves)
        .on('/reserves.html', showReserves)
        .on('/add', addOpinion)
        .on('/modify', showModifyOpinion)
        .on('/delete', deleteOpinion)
        .resolve();

    function deleteOpinion(params) {

        let id = params.params.id

        $.ajax({
            url: '/api/opinions/' + id,
            type: 'DELETE'

        })
            .then(function (result) {
                router.navigate('/');
            })
            .catch(function (error) {
                console.log(error)
            })
    }

    function addOpinionForm(event) {

        event.preventDefault();

        let form = $("#add_opinion_form");

        let parametros = form.serializeObject();

        $.post('/api/opinions/', parametros, function (result) {
            router.navigate('/')
        }).catch(function (error) {
            console.log(error)
        })
    }

    function addOpinion() {

        $.getJSON('/api/esdeveniments/', function (esdeveniments) {
            $.getJSON('/api/usuaris/', function (usuaris) {

                let data = {
                    'esdeveniments': esdeveniments.esdeveniments,
                    'usuaris': usuaris.usuaris
                };

                let html = $('#add_opinion_template').render(data);
                $('#app').html(html);

                $("#submit_opinion_form").on("click", addOpinionForm);
            });
        });
    }


    function showModifyOpinion(params) {
        let id = params.params.id;

        $.getJSON('/api/opinions/' + id, function (dataOpinion) {
            $.getJSON('/api/usuaris/', function (dataUsuarios) {
                $.getJSON('/api/esdeveniments/', function (dataEsdeveniment) {

                    let opinion = dataOpinion;

                    let data = {
                        'opinion': opinion,
                        'usuarios': dataUsuarios,
                        'esdeveniments': dataEsdeveniment
                    };

                    let html = $('#modify_opinion_template').render(data);
                    $('#app').html(html);

                    $('#submit_modify_opinion_form').on('click', function (event) {
                        modifyReservaForm(event, opinion.ID); // Pasar el ID como argumento adicional
                    });
                });
            });
        });
    }


    function modifyReservaForm(event, id) {
        event.preventDefault();

        let form = $('#modify_opinions_form');
        let parametros = form.serializeObject();

        $.post('/api/opinions/' + id, parametros, function (data) {
            window.location.href = 'Pag_opinions.html';
        }).catch(function (error) {
            console.log(error);
        });
    }

    function showReserves() {
        $.getJSON('/api/opinions', function (data) {
            let html = $('#opinions_template').render(data);
            $('#app').html(html);
            $('#myTable').DataTable();
        });
    }

    $(document).ready(function () {
        router.navigate('/')
    });

</script>
<!-- ///////////////////////////////  -->

<br><br><br><br>
<script src="javascripts/funciones.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>
</html>